.header{
    margin-top: 5px;
    margin-left: 20px;
    margin-bottom: 20px;
}
.bg-light {
    background-color: #f8f9fa!important;
}

.header_brand{
    font-size: xx-large;
    color: rgb(0,70,42);
}

.header_menu{
    font-size: x-large;
    position: relative;
    left: 40px;
    right: 0px;
    
}
